.section-design {
  background: #233641;
  color: white;
}
.section-design .name {
  margin-top: 130px;
  margin-bottom: 110px;
}
.section-design .name h2 {
  font-family: 'Montserrat' sans-serif;
  font-weight: bold;
  font-size: 51px;
  line-height: 65px;
  color: #ffffff;
}
.section-design .name h3 {
  font-family: 'Montserrat' sans-serif;
  font-weight: normal;
  font-size: 47px;
  line-height: 65px;
  color: #18cfab;
}
.section-design .right-side {
  text-align: left;
  padding: 0;
}
.section-design .right-side li {
  list-style-image: url(../../img/Creative-Landing-Page-Template-Free-PSD_106.png);
  font-family: 'Montserrat' sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 35px;
  color: #f7f7f7;
}
.section-design .button {
  padding-left: 15px;
  margin-top: 70px;
  margin-bottom: 215px;
}
.section-design .button button {
  background: #18cfab;
  border: solid white 5px;
  border-radius: 4px;
  height: 65px;
  width: 165px;
  margin-right: 28px;
  border-bottom: none;
  border-right: none;
  border-left: none;
  vertical-align: top;
}
.section-design .button button:hover {
  background: #00cbf6;
}
.section-design .button button:active {
  background: #00cbf6;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 5px #ffffff;
}
